/* ///// Fonts ///// */
.slateBlue {
	color: $slateBlue;
}
.slateGreen {
	color: $slateGreen;
}
.slateBlack {
	color: $slateBlack;
}
.slateSecBlue {
	color: $slateSecBlue;
}
.slateTeal {
	color: $slateTeal;
}
.slateDarkGreen {
	color: $slateDarkGreen;
}
.maroon {
	color: $maroon;
}
.addgreen {
	color: $addgreen;
}
.buttongrey {
	color: $buttongrey;
}
.backgroundgrey {
	color: $backgroundgrey;
}
.bordergrey {
	color: $bordergrey;
}
.footertopgrey {
	color: $footertopgrey;
}
.footerbottomgrey {
	color: $footerbottomgrey;
}
.hovergrey {
	color: $hovergrey;
}
.greyvalidator {
	color: $greyvalidator;
}
.textgreyblue {
	color: $textgreyblue;
}
.errorred {
	color: $errorred; 
}
.blueattention {
	color: $blueattention;
}
.remove {
	color: $remove;
}
.white {
	color: $slateWhite;
}

/* Backgrounds */

.bg-slateBlue {
	background-color: $slateBlue !important;
}
.bg-slateGreen {
	background-color: $slateGreen;
}
.bg-slateBlack {
	background-color: $slateBlack;
}
.bg-slateSecBlue {
	background-color: $slateSecBlue;
}
.bg-slateTeal {
	background-color: $slateTeal;
}
.bg-slateDarkGreen {
	background-color: $slateDarkGreen;
}
.bg-maroon {
	background-color: $maroon;
}
.bg-addgreen {
	background-color: $addgreen;
}
.bg-buttongrey {
	background-color: $buttongrey;
}
.bg-backgroundgrey {
	background-color: $backgroundgrey;
}
.bg-bordergrey {
	background-color: $bordergrey;
}
.bg-footertopgrey {
	background-color: $footertopgrey;
}
.bg-footerbottomgrey {
	background-color: $footerbottomgrey;
}
.bg-hovergrey {
	background-color: $hovergrey;
}
.bg-greyvalidator {
	background-color: $greyvalidator;
}
.bg-textgreyblue {
	background-color: $textgreyblue;
}
.bg-errorred {
	background-color: $errorred; 
}
.bg-blueattention {
	background-color: $blueattention;
}
.bg-remove {
	background-color: $remove;
}
.bg-white {
	background-color: $slateWhite;
}
